<a href="https://colab.research.google.com/github/pravallika-1305/WISE_ML/blob/main/IntroductiontoPandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objectives

At the end of the experiment you will be able to 

* Understand importance of Pandas
* Perform data cleaning, manipulation using Pandas

## Features of Pandas

* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Reshaping and pivoting of date sets.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

Now it is time to work on practicals. Following Are the given Exercise:

### Excercise 1: How to import pandas and check the version?

In [ ]:
# Your Code Here
import pandas as pd
import numpy as np

### Excercise 2: Create a Series from Dictionary.

In [ ]:
# Your Code Here
dictionary = {'a' : 1, 'b' : 2, 'c' : 3} 
series = pd.Series(dictionary)

### Exercise 3: Create a DataFrame from Lists ; coloumns heading should be 'Name', 'Age'.

In [ ]:
# Your Code Here
data = [['me', 19], ['sahithi', 21], ['mamatha', 20]]  
df = pd.DataFrame(data, columns = ['Name', 'Age'])

### Exercise 4: Create a DataFrame from List of Dictionaries.

In [ ]:
# Your Code Here
data = [{'c': 'printf', 'c++': 'cout', 'python': 'print'}, 
        {'c':'fast', 'c++': 'OOPS', 'python': 'multiparadigm'}]  
df = pd.DataFrame(data)

### Exercise 5: frame a dataset using following data

In [ ]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

In [ ]:
# Your Code Here
df = pd.DataFrame(ipl_data)

### Exercise 6: In Ipl_data group the data by year

In [ ]:
# Your Code Here
print(df.groupby('Year'))

### Exercise 7: In Ipl_data group the data by Team and year

In [ ]:
# Your Code Here
df.groupby(['Team','Year'])

### Exercise 8: Iterating through Groups using year

In [ ]:
# Your Code Here
print(df.groupby('Year').groups)
grouped = df.groupby('Year')

for year,data in grouped:
  print(year)
  print(data)

### Exercise 9: Group the data and get only 2014 year

In [ ]:
# Your Code Here
print(df.groupby('Year').get_group(2014))

### Exercise 10: In points do the mean using .agg i.e aggregate

In [ ]:
# Your Code Here
df['Points'].agg({'mean'})

### Exercise 11: Find size of dataset using **.agg** based on team

In [ ]:
# Your Code Here
grouped = df.groupby('Team')
print(grouped.agg(np.size))

### Exercise 12: Create two Dataframes name it as 'left' and other 'right' using following data

In [ ]:
# Your Code Here
left = pd.DataFrame({'id':[1,2,3,4,5],
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks_scored':[98,90,87,69,78]})
right = pd.DataFrame({'id':[1,2,3,4,5],
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[89,80,79,97,88]})

### Exercise 13: Merge the left and right based on 'id'

In [ ]:
# Your Code Here
left.merge(right,on="id")

### Exercise 14: Merge the left and right based on 'id' and 'subject_id'

In [ ]:
# Your Code Here
left.merge(right,on=["id","subject_id"])

### Exercise 15: Merge the left and right based on 'subject_id' ,left join

In [ ]:
# Your Code Here
left.merge(right,on=["subject_id"],how="left")

### Exercise 16: Merge the left and right based on 'subject_id' ,right join

In [ ]:
# Your Code Here
left.merge(right,on=["subject_id"],how="right")

### Exercise 17: Merge the left and right based on 'subject_id' ,outter join

In [ ]:
# Your Code Here
left.merge(right,on=["subject_id"],how="outer")

### Exercise 18: Merge the left and right based on 'subject_id' ,inner join

In [ ]:
# Your Code Here
left.merge(right,on=["subject_id"],how="inner")

### Exercise 19: Concatinate two dataframes using following data and the index should not repeat

In [ ]:
# Your Code Here
pd.concat([left,right]).reset_index(drop=True)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Exercise 20: Change the header names of given data using .read_csv

In [ ]:
# Your Code Here
columns=['Sno','Score_GRE','ScoreTOEFL','Rating','SOP','LOR','CGPA','iResearch','Admission_Probability']
pd.read_csv("drive/MyDrive/Data/Admission_Predict.csv",names=columns)